# ui dependencies
frontend/node_modules
frontend/dist
frontend/dist.rar
frontend/dist.zip
frontend/.DS_Store
frontend/*.local
frontend/.env
frontend/.env.*
!frontend/.env.example
!frontend/.env.production

# backend dependencies
backend/.env
backend/*/.env
/backend/internal/config/config.yaml
backend/.DS_Store
backend/webserver.exe
